    <%- include header %>
    <div class="container">
        <% if(error){ %>
        <div class="alert alert-error">
            <%= error%>
        </div>
        <% } %>
        <% if(success){ %>
        <div class="alert alert-success">
            <%= success%>
        </div>
        <% } %>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1><%= title%></h1>
            <p>Node Blog is an open-source blog program. Feel free to use it and put forward the problems you've found to me. Thanks</p>
            <p><a href="http://sunshinelins.duapp.com" class="btn btn-primary btn-large">About Me &raquo;</a></p>
        </div>

        <% include postList.ejs %>

        <hr>

        <% include pagination.ejs %>

        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div> <!-- /container -->



    <%- include footer %>