<!-- Example row of columns -->
<% for(var i = 0; i < posts.length; i+=3){ %>
<div class="row">
    <div class="span4">
        <h2><%= posts[i].title%></h2>
        <% posts[i].tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
        <span class="label label-warning"><i class="icon-tag"></i><%= tag %></span>
        <% } %>
        <% }); %>
        <span class="label label-info"><i class="icon-eye-open"></i>
            <%=posts[i].pv%> times
        </span>
        <p><%- posts[i].post%></p>
        <p class="text-info">Post by <a class="btn-info" href="/home/<%= posts[i].name%>"><%= posts[i].name%></a></p>
        <p class="text-warning"><%= posts[i].time.minute %></p>
        <p>
            <% if(user&&posts[i].name==user.name){%>
            <a class="btn btn-info btn-small" href="/edit/<%=posts[i].name%>/<%=posts[i].time.day%>/<%=posts[i].title%>"><i class="icon-pencil"></i></a>
            <a class="btn btn-warning btn-small" href="#postId<%=i%>" role="button" data-toggle="modal"><i class="icon-trash"></i></a>
        <div id="postId<%=i%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p>Press Yes to delete the article <strong>"<%=posts[i].title%>"</strong> utterly.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" >No</button>
                <a class="btn btn-primary"  href="/delete/<%=posts[i].name%>/<%=posts[i].time.day%>/<%=posts[i].title%>">Yes</a>
            </div>
        </div>
        <% } %>
        <a class="btn btn-small" href="/home/<%=posts[i].name%>/<%=posts[i].time.day%>/<%=posts[i].title%>"><i class="icon-comment"></i>(<%=posts[i].comments.length%>)</a></p>
    </div>
    <% if(i+1<posts.length){ %>
    <div class="span4">
        <h2><%= posts[i+1].title%></h2>
        <% posts[i+1].tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
        <span class="label label-warning"><i class="icon-tag"></i><%= tag %></span>
        <% } %>
        <% }); %>
        <span class="label label-info"><i class="icon-eye-open"></i>
            <%=posts[i+1].pv%> times
        </span>
        <p><%- posts[i+1].post%></p>
        <p class="text-info">Post by <a class="btn-info" href="/home/<%= posts[i+1].name%>"><%= posts[i+1].name%></a></p>
        <p class="text-warning"><%= posts[i+1].time.minute %></p>
        <p>
            <% if(user&&posts[i+1].name==user.name){%>
            <a class="btn btn-info btn-small" href="/edit/<%=posts[i+1].name%>/<%=posts[i+1].time.day%>/<%=posts[i+1].title%>"><i class="icon-pencil"></i></a>
            <a class="btn btn-warning btn-small" href="#postId<%=i+1%>" role="button" data-toggle="modal"><i class="icon-trash"></i></a>
        <div id="postId<%=i+1%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p>Press Yes to delete the article <strong>"<%=posts[i+1].title%>"</strong> utterly.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" >No</button>
                <a class="btn btn-primary"  href="/delete/<%=posts[i+1].name%>/<%=posts[i+1].time.day%>/<%=posts[i+1].title%>">Yes</a>
            </div>
        </div>
            <% } %>
            <a class="btn btn-small" href="/home/<%=posts[i+1].name%>/<%=posts[i+1].time.day%>/<%=posts[i+1].title%>"><i class="icon-comment"></i>(<%=posts[i+1].comments.length%>)</a></p>
    </div>
    <% } %>
    <% if(i+2<posts.length){ %>
    <div class="span4">
        <h2><%= posts[i+2].title%></h2>
        <% posts[i+2].tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
        <span class="label label-warning"><i class="icon-tag"></i><%= tag %></span>
        <% } %>
        <% }); %>
        <span class="label label-info"><i class="icon-eye-open"></i>
            <%=posts[i+2].pv%> times
        </span>
        <p><%- posts[i+2].post%></p>
        <p class="text-info">Post by <a class="btn-info" href="/home/<%= posts[i+2].name%>"><%= posts[i+2].name%></a></p>
        <p class="text-warning"><%= posts[i+2].time.minute %></p>
        <p>
            <% if(user&&posts[i+2].name==user.name){%>
            <a class="btn btn-info btn-small" href="/edit/<%=posts[i+2].name%>/<%=posts[i+2].time.day%>/<%=posts[i+2].title%>"><i class="icon-pencil"></i></a>
            <a class="btn btn-warning btn-small" href="#postId<%=i+2%>" role="button" data-toggle="modal"><i class="icon-trash"></i></a>
        <div id="postId<%=i+2%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p>Press Yes to delete the article <strong>"<%=posts[i+2].title%>"</strong> utterly.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" >No</button>
                <a class="btn btn-primary"  href="/delete/<%=posts[i+2].name%>/<%=posts[i+2].time.day%>/<%=posts[i+2].title%>">Yes</a>
            </div>
        </div>
            <% } %>
            <a class="btn btn-small" href="/home/<%=posts[i+2].name%>/<%=posts[i+2].time.day%>/<%=posts[i+2].title%>"><i class="icon-comment"></i>(<%=posts[i+2].comments.length%>)</a></p>
    </div>
    <% } %>
</div>
<% } %>